<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index,follow" />
	
	<script src="plugin/jquery-3.7.1.min.js"></script>
	<script src="plugin/axios.min.js"></script>
	<script type="module" src="js/classes/ClassDataRectif.js"></script>
</head>

<body>
bonjour
<script type="module" src="js/main.js"></script>
</body>
</html>
